.popup__container {
  min-width: 425px;
  min-height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 35px 36px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 610px) {
  .popup__container {
    min-width: calc(100vw - 80px);
    min-height: 322px;
    padding: 29px 22px 0;
  }
}
