.edit-form__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border: 0;
  background: transparent;
  padding: 0;
}

.edit-form__close-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
