.edit-form__save-button {
  background-color: #000000;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #fff;
  min-height: 50px;
  margin: 48px 0 0;
  border-radius: 2px;
}

.edit-form__save-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}
